.DS_Store
/.build
/Packages
/dispatcher.log
/.packages_lin

*.xcuserstate
*.ovpn
*dispatcher.log
*auth.up
*.json
serverIP
shSocksServerIP
openVPNLog.txt
ca.crt
Wdc.key

transport-canary.xcodeproj/project.xcworkspace/xcuserdata/Lita.xcuserdatad/UserInterfaceState.xcuserstate
transport-canary.xcodeproj
