.DS_Store
/.build
/Packages
/dispatcher.log
/.packages_lin
/Resources/auth.up

*.xcuserstate

TransportState/dispatcher.log

openVPNLog.txt

transport-canary.xcodeproj/project.xcworkspace/xcuserdata/Lita.xcuserdatad/UserInterfaceState.xcuserstate
transport-canary.xcodeproj
